<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Example 4</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
</head>

<body onload="set_defaults()">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Iris</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/model">Model</a>
                    </li>
                    <li>
                        <a href="/2charts">2 Charts</a>
                    </li>
                    <li>
                        <a href="/table">Table</a>
                    </li>
                    <li>
                        <a href="/map_chloro">Map</a>
                    </li>
                </ul>
		<ul class="nav navbar-nav pull-right">
		    <li><a id="welcome_text" href=""></a></li>
		</ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>{{home_text}}</div>
		<br>
		<br>
		<form onsubmit="submit_name(); return false;">
		    Your Name:<br>
		    <input type="text" id="input_name">
		    <br>
		    <input type="submit" value="Submit">
		</form>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="static/js/example_4_utils.js"></script>
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>
        function submit_name() {
	    // This function is called when the submit button is clicked.
	    var username = document.getElementById("input_name").value;
	    if(username_is_valid(username)) {
	        ajax_create_session(username);
	    }
	}

        function username_is_valid(username) {
	    // Rudimentary input validation
	    // Returns true if none of the bad tags defined below are in username.
	    var result = username.length <= 20;
	    if(result) {
	        var bad_tags = ["<script>", "<link>", "<img>", "<iframe>", "<object>"];
                for(var i = 0; i < bad_tags.length; i++) {
	            var idx = username.search(bad_tags[i]);
		    if(idx != -1) {
		        result = false;
		        document.getElementById("input_name").value = "";    // Clear the text input
		        alert("Invalid username. Please try again.");
		        break;
		    }
	        }
	    }
	    return result;
	}

	function ajax_create_session(username) {
	    var xhr;    // Request object
	    if(window.XMLHttpRequest) {
		xhr = new XMLHttpRequest;
	    } else {
		xhr = new ActiveXObject("Microsoft.XMLHTTP");    // IE6, IE5.
	    }
	    xhr.onreadystatechange = function() {    // Define callback function called as xhr.readyState progresses from 0 to 4.
		if(xhr.readyState == 4) {            // Request finshed, response is ready. 
		    if(xhr.status == 200) {          // Do the following if request is successful
		        set_welcome_text(username);
		    } else if(xhr.status == 400) {
		        alert("Invalid username. Please try again.");
		    }
		    document.getElementById("input_name").value = "";    // Clear the text input
		}
	    };
	    xhr.open("POST", "/create_session", true);    // Define request and its destination
	    xhr.send(username);                           // Post username to destination
	}

        function set_welcome_text(txt) {
	    if(txt == "") {
                txt = "You";
	    }
	    document.getElementById("welcome_text").innerHTML = "Welcome " + txt + "!";
	}
    </script>
</body>

</html>
